In [72]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report,confusion_matrix
import warnings
import pickle
from scipy import stats
warnings.filterwarnings ('ignore')
plt.style.use ('fivethirtyeight')

In [74]:
data=pd.read_csv("Data_Train.csv")

In [75]:
data.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR ? DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU ? IXR ? BBI ? BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL ? LKO ? BOM ? COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU ? NAG ? BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR ? NAG ? DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [77]:
category = ['Airline', 'Source', 'Destination', 'Additional_Info']
for i in category:
    print(i, data[i].unique())

Airline ['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
Source ['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
Destination ['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']
Additional_Info ['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']

In [78]:
data.Date_of_Journey=data.Date_of_Journey.str.split('/')

In [79]:
data.Date_of_Journey

0        [24, 03, 2019]
1         [1, 05, 2019]
2         [9, 06, 2019]
3        [12, 05, 2019]
4        [01, 03, 2019]
              ...
10678     [9, 04, 2019]
10679    [27, 04, 2019]
10680    [27, 04, 2019]
10681    [01, 03, 2019]
10682     [9, 05, 2019]
Name: Date_of_Journey, Length: 10683, dtype: object

In [82]:
data['Date']=data.Date_of_Journey.str[0]
data['Month']=data.Date_of_Journey.str[1]
data['Year']=data.Date_of_Journey.str[2]

In [81]:
data.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [83]:
data.Route=data.Route.str.split('->')
data.Route

0                    [BLR ? DEL]
1        [CCU ? IXR ? BBI ? BLR]
2        [DEL ? LKO ? BOM ? COK]
3              [CCU ? NAG ? BLR]
4              [BLR ? NAG ? DEL]
                  ...
10678                [CCU ? BLR]
10679                [CCU ? BLR]
10680                [BLR ? DEL]
10681                [BLR ? DEL]
10682    [DEL ? GOI ? BOM ? COK]
Name: Route, Length: 10683, dtype: object

In [3]:
data ['city1']=data.Route.str.split[0]
data ['city2']=data.Route.str.split[1]
data ['city3']=data.Route.str.split[2]
data ['city4']=data.Route.str.split[3] 
data ['city5']=data.Route.str.split[4] 
data ['city6']=data.Route.str.split[5]

NameError: name 'data' is not defined

In [ ]:
data.Dep_Time=data.Dep_Time.str.split(':')

In [2]:
data['Dep_Time_Hour']=data.Dep_Time.str[0]
data['Dep_Time_Mins']=data.Dep_Time.str[1]

NameError: name 'data' is not defined

In [88]:
data.Arrival_Time=data.Arrival_Time.str.split('')

In [92]:
data['Arrival_date']=data.Arrival_Time.str[1]
data['Time_of_Arrival']=data.Arrival_Time.str[1]

In [93]:
data['Time_of_Arrival']=data.Time_of_Arrival.str.split(':')

In [1]:
data['Arival_Time_Hour']=data.Time_of_Arrival.str[0]
data['Arival_Time_Mins']=data.Time_of_Arrival.str[1]

NameError: name 'data' is not defined

In [4]:
data.Duration=data.Duration.str.split(' ')

NameError: name 'data' is not defined

In [5]:
data['Travel_Hours']=data.Duration.str[0]
data['Travel_Hours']=data['Travel_Hours'].str.split('h')
data['Travel_Hours']=data['Travel_Hours'].str[0]
data.Travel_Hours=data.Travel_Hours
data['Travel_Mins']=data.Duration.str[1]

data.Travel_Mins=data.Travel_Mins.str.split('m')
data.Travel_Mins=data.Travel_Mins.str[0]

NameError: name 'data' is not defined

In [ ]:
data.Total_Stops.replace('non_stop',0,inplace=True)
data.Total_Stops=data.Total_Stops.str.split(' ')
data.Total_Stops=data.Total_Stops.str[0]

In [ ]:
data.Total_Stops.replace('non_stop',0,inplace=True)
data.Total_Stops=data.Total_Stops.str.split(' ')
data.Total_Stops=data.Total_Stops.str[0]

In [6]:
data.Additional_Info.unique()

NameError: name 'data' is not defined

In [7]:
data.Additional_Info.replace('No Info','No Info',inplace=True)

NameError: name 'data' is not defined

In [8]:
data.isnull().sum()

NameError: name 'data' is not defined

In [9]:
data.drop(['City4','City5','City6'],axis=1,inplace=True)

NameError: name 'data' is not defined

In [10]:
data.drop(['Date of Journey','Route','Dept_Time','Arrival_Time','Duration'],axis=1, inplace=True)
data.drop9['Time_of_Arrival'],axis=1, inplace=True

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3506436537.py, line 2)

In [11]:
data.isnull().sum()

NameError: name 'data' is not defined

In [12]:
data['City3'].fillna('None',inplace=True)

NameError: name 'data' is not defined

In [14]:
data['Arrival_date'].fillna(data'Date',inplace=True)

SyntaxError: invalid syntax (245896170.py, line 1)

In [13]:
data['Travel_Mins'].fillna(0,inplace=True)

NameError: name 'data' is not defined

In [16]:
data.info()

NameError: name 'data' is not defined

In [17]:
#data.Total_Stops=data.Total_Stops.astype('int64')
data.Date=data.Date.astype('int64')
data.Month=data.Month.astype('int64')
data.Year=data.Year.astype('int64')
data.Dep_Time_Hour=data.Dep_Time_Hour.astype('int64')
data.Dep_Time_Mins=data.Dep_Time_Mins.astype('int64')
data.Arrival_date=data.Arrival_date.astype("int64")
data.Arrival_Time_Hour=data.Arrival_Time_Hour.astype('int64')
data.Arrival_Time_Mins=data.Arrival_Time_Mins.astype('int64')
#data.Travel_Hours=data.Travel_Hours.astype('int64')
data.Travel_Mins=data.Travel_Mins.astype('int64')

NameError: name 'data' is not defined

In [18]:
data[data['Travel_Hours]']=='5m']

NameError: name 'data' is not defined

In [20]:
data.drop(index=6474,inplace=True,axis=0)

NameError: name 'data' is not defined

In [21]:
data.Travel_Hours=data.Travel_Hours.astype('int64')

NameError: name 'data' is not defined

In [3]:
categorical=['Airline','Source','Destination','Additional_Info','City1']
numerical=['Total_Stops'],'Date','Month','Year','Dep_Time_Hour','Dep_Time_Mins','Arrival_date','Arrival_Time_Hour',
           'Arrival_Time_Mins','Travel_Hours','Travel_Mins']

IndentationError: unexpected indent (4067194216.py, line 3)

In [4]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [5]:
data.Airline=le.fit_transform(data.Airline)
data.Source=le.fit_transform(data.Source)
data.Destination=le.fit_transform(data.Destination)
data.Total_Stops=le.fit_transform(data.Total_Stops)
data.City1->|=le.fit_transform(data.City1->|)
data.City2->|=le.fit_transform(data.City2->|)
data.City3->|=le.fit_transform(data.City3->|)
data.Additional_Info=le.fit_transform(data.Additional_Info)
data.head()

SyntaxError: invalid syntax (1286582481.py, line 5)

In [6]:
data.head()

NameError: name 'data' is not defined

In [7]:
data = data[['Airline','Source','Destination','Date','Month','Year','Dep_Time_Hour','Dep_Time_Mins','Arrival_date','Arrival_Time_Hour',
           'Arrival_Time_Mins','Travel_Hours','Travel_Mins']]

NameError: name 'data' is not defined

In [8]:
data.head()

NameError: name 'data' is not defined

In [10]:
import seaborn as sns
C=1
plt.figure(figsize=(20,45))

for i in categorical:
    plt.subplot(6,3,c)
    sns.countplot(data[i])
    sns.xticks(rotation=90)
    plt.tight_layout(pad=3,0)
    C=C+1
    
plt.show()

SyntaxError: positional argument follows keyword argument (3827276060.py, line 9)

In [11]:
plt.figure(figsize=(15,8))
sns.displot(data.Price)

NameError: name 'plt' is not defined

In [12]:
sns.heatmap(data.corr(),annot=True)

NameError: name 'sns' is not defined

In [13]:
import seaborn as sns
sna.boxplot(data['Price'])

NameError: name 'sna' is not defined

In [14]:
y=data['price']
x=data.drop(columns=['price'],axis=1)

NameError: name 'data' is not defined

In [15]:
from sklearn.prprocessing import StandardScaler
ss=StandardScaler()

ModuleNotFoundError: No module named 'sklearn.prprocessing'

In [16]:
x_scaled = ss.fit_transform(x)

NameError: name 'ss' is not defined

In [17]:
x_scaled = pd.DataFrame(x_scaled,columns=x.columns)
x_scaled.head()

NameError: name 'pd' is not defined

In [ ]:
from sklearn.model_selection import